{# templates/security/register.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="login-container">
        <div class="login-header">
            <h1>Register</h1>
        </div>
        <div class="login-body">
            {{ form_start(registrationForm) }}
                {% if form_errors(registrationForm) %}
                    <div class="alert alert-danger">{{ form_errors(registrationForm) }}</div>
                {% endif %}

                <label for="prenom">Prenom</label>
                {{ form_widget(registrationForm.prenom, {'attr': {'class': 'form-control', 'autocomplete': 'prenom', 'required': 'required'}}) }}

                <label for="nom">Nom</label>
                {{ form_widget(registrationForm.nom, {'attr': {'class': 'form-control', 'autocomplete': 'nom', 'required': 'required'}}) }}

                <label for="email">Email</label>
                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'autocomplete': 'email', 'required': 'required'}}) }}

                <label for="plainPassword">Password</label>
                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'autocomplete': 'new-password', 'required': 'required'}}) }}

                <div class="form-check form-check-inline" style="display: flex; align-items: center;">
    {{ form_label(registrationForm.agreeTerms, null, {'label_attr': {'class': 'form-check-label-inline', 'style': 'margin-right: 0.5rem;' }}) }}
    {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input', 'required': 'required', 'style': 'margin-right: 0.5rem;' }}) }}
</div>


                <div class="login-footer">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
