{% extends 'base.html.twig' %}

{% block title %}Notification{% endblock %}

{% block body %}
    <h1>Notification Details</h1>

    <div class="notification-details">
        <p><strong>ID:</strong> {{ notification.id }}</p>
        <p><strong>User:</strong>{{ notification.user.prenom }} {{ notification.user.nom }}</p>
        <p><strong>Post Title:</strong> {{ notification.post.title }}</p>
        <p><strong>Post Content:</strong> {{ notification.post.content }}</p>
        <p><strong>Is Read:</strong> {{ notification.isRead ? 'Yes' : 'No' }}</p>
        <p><strong>Created At:</strong> {{ notification.createdAt|date('Y-m-d H:i:s') }}</p>
    </div>

    <a href="{{ path('notification_index') }}" class="btn btn-primary">Back to list</a>
{% endblock %}
