{% extends 'base.html.twig' %}

{% block title %}Private Messages{% endblock %}

{% block body %}
    <h1>Private Messages</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for private_message in private_messages %}
            <tr>
                <td>{{ private_message.id }}</td>
                <td>{{ private_message.sender ? private_message.sender.email : 'Unknown' }}</td>
                <td>{{ private_message.receiver ? private_message.receiver.email : 'Unknown' }}</td>
                <td>{{ private_message.content }}</td>
                <td>
                    <a href="{{ path('private_message_show', {'id': private_message.id}) }}">show</a>
                    <a href="{{ path('private_message_edit', {'id': private_message.id}) }}">edit</a>
                    <form method="post" action="{{ path('private_message_delete', {'id': private_message.id}) }}" style="display:inline-block">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ private_message.id) }}">
                        <button class="btn">delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('private_message_new') }}">Create new</a>
{% endblock %}
