{% extends 'base.html.twig' %}

{% block title %}Gestion des Privilèges{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin/manage_privileges.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="main-title">Gérer les privilèges des utilisateurs</h1>

    <a href="{{ path('homepage') }}" class="btn btn-secondary">Retour à l'accueil</a>

    <div class="form-container">
        {{ form_start(form, { 'attr': { 'class': 'privilege-form' } }) }}
            <div class="form-group">
                {{ form_row(form.action) }}
            </div>
            <div class="form-group">
                {{ form_row(form.user) }}
            </div>
            <div class="form-group">
                {{ form_row(form.commission) }}
            </div>
            <div class="form-group">
                {{ form_row(form.role) }}
            </div>
            <button type="submit" class="btn btn-primary">Mettre à jour le rôle</button>
        {{ form_end(form) }}
    </div>

    <h2 class="sub-title">Liste des privilèges</h2>
    {% for userEmail, privileges in groupedPrivileges %}
        <h3 class="user-email">{{ userEmail }}</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Commission</th>
                    <th>Rôle</th>
                </tr>
            </thead>
            <tbody>
                {% for privilege in privileges %}
                    <tr>
                        <td>{{ privilege.commission.name }}</td>
                        <td>{{ privilege.role }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
</div>
{% endblock %}
