{% extends 'base.html.twig' %}

{% block title %}Gestion des Privilèges{% endblock %}

{% block body %}
    <h1>Gérer les privilèges des utilisateurs</h1>

    {{ form_start(form) }}
        {{ form_row(form.action) }}
        {{ form_row(form.user) }}
        {{ form_row(form.commission) }}
        {{ form_row(form.role) }}
        <button type="submit" class="btn btn-primary">Mettre à jour le rôle</button>
    {{ form_end(form) }}

    <h2>Liste des privilèges</h2>
    {% for userEmail, privileges in groupedPrivileges %}
        <h3>{{ userEmail }}</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Commission</th>
                    <th>Rôle</th>
                </tr>
            </thead>
            <tbody>
                {% for privilege in privileges %}
                    <tr>
                        <td>{{ privilege.commission.name }}</td>
                        <td>{{ privilege.role }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}
