{% extends 'base.html.twig' %}

{% block title %}Create Post{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create Post</h1>
        {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.content) }}
            {{ form_row(form.commission) }}
            {{ form_row(form.save) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
