{% extends 'base.html.twig' %}

{% block title %}Commission index{% endblock %}

{% block body %}
    <h1>Commission index</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commission in commissions %}
            <tr>
                <td>{{ commission.id }}</td>
                <td>{{ commission.name }}</td>
                <td>{{ commission.description }}</td>
                <td>
                    <a href="{{ path('commission_show', {'id': commission.id}) }}">show</a>
                    <a href="{{ path('commission_edit', {'id': commission.id}) }}">edit</a>
                    <form method="post" action="{{ path('commission_delete', {'id': commission.id}) }}" style="display:inline-block">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commission.id) }}">
                        <button class="btn">delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('commission_new') }}">Create new</a>
{% endblock %}
