{# templates/commission/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ commission.name }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ commission.name }}</h1>
        <p>{{ commission.description }}</p>

        <a href="{{ path('post_new', {'commissionId': commission.id}) }}" class="btn btn-success">Create New Post</a>

        <h2>Posts</h2>
        <ul>
            {% for post in posts %}
                <li>
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.content }}</p>
                    <p><small>Created by {{ post.user.email }} on {{ post.createdAt|date('Y-m-d H:i') }}</small></p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
